html, body {
    height: 100%;
    width: 100%;
}
#splash {
    background-image: url("https://wallpaperaccess.com/full/48074.jpg");
    /* background-repeat: no-repeat; */
    background-position: center;
    height: 100%;
    background-size: 100% 100%;
}
#titlecontainer{
    /* margin: auto; */
    color: white;
    text-align: center;
}
#title{
    font-size: 100px;
}

#slogan{
    font-size: 60px;
}

#button{
    margin: 20px;
}
#startBtn{
    height: 150px;
    width: 300px;
    background-color: blueviolet;
    font-size: 50px;
    color: white;
}

#textbox{
    margin: auto;
    color: white;
    text-align: center;
    font-size: 60px;
    position: absolute
}

#homeBtn{
    text-align: center;
    font-size: xx-large;
    margin: 10px 0px 0px 0px;
}
a:link {
    text-decoration: none;
}

#homeBtn:hover{
    color: red;
}

#backBtn{
    text-align: center; 
    font-size: xx-large;
    margin: 10px 0px 0px 0px;
}

#backBtn:hover{
    color: red;
}

#pagetitle{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

#searchbar{
    text-align: center;
    font-size: xx-large;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
}
.teams{
    background-color: lightblue;
    color: black;
    width: 224px;
    height: 90px;
    text-align: center;
    padding: 18px 0px;
    margin: 5px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
}
.team{
    background-color: lightblue;
    color: black;
    width: 224px;
    height: 90px;
    text-align: center;
    /* padding: 10px 0px; */
    float: left;
    margin: 5px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
    font-size: x-large;
}
.player{
    background-color: lightblue;
    color: black;
    width: 224px;
    height: 60px;
    padding: 18px 0px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
}
#teamsbackground :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.player{
    position: absolute;
    left: 545px;
}
.playerStat{
    text-align: center;
    align-content: center;
    margin: auto;
    font-size: xx-large;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black; 
    height: 270px;  
    margin-top: 20px;
    padding: 10px;

} 
.good-green {
    background: green;
}
.good-red {
    background: red;
}
.felon-green {
    background: green;
}
.felon-red {
    background: red;
}
