
#titlecontainer{
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: silver;
    color: black;
    text-align: center;
}
#title{
    font-size: 100px;
}

#slogan{
    font-size: 60px;
}

#button{
    margin: 20px;
}

#startBtn{
    height: 150px;
    width: 400px;
    background-color: forestgreen;
    font-size: 50px;
    color: black
}

#textbox{
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: red;
    color: black;
    text-align: center;
    font-size: 60px;
    position: absolute
}

#homeBtn{
    text-align: center;
    font-size: xx-large;
    margin: 10px 0px 0px 0px;
}

#homeBtn:hover{
    color: red;
}

#backBtn{
    text-align: center; 
    font-size: xx-large;
    margin: 10px 0px 0px 0px;
}

#backBtn:hover{
    color: red;
}

#pagetitle{
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

#searchbar{
    text-align: center;
    font-size: xx-large;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
}


/* #teamsbackground{
background-color: lightblue;
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
} */

.teams{
    background-color: lightblue;
    color: black;
    width: 224px;
    height: 60px;
    text-align: center;
    padding: 18px 0px;
    margin: 5px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
}


.team{
    background-color: lightblue;
    color: black;
    width: 224px;
    height: 60px;
    text-align: center;
    padding: 18px 0px;
    margin: 5px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
}

.player{
    background-color: lightblue;
    color: black;
    width: 200px;
    height: 60px;
    text-align: center;
    padding: 10px 0px;
    margin: 5px;
    margin-left: 25px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black;
    font-size: xx-large;
}



.hidden {
    display: none;
}


#playercontainer{
    position: absolute;
    left: 545px;
}

.arrows{
    font-weight: bold;
    font-size: xx-large;
}

#left{
    float: left;
}

#right{
    float: right;
}

.playerStat{
    /* text-align: center;
    align-content: center; */
    /* margin: auto; */
    font-size: xx-large;
    border-radius: 2px;
    box-shadow: 2.5px 5px black;
    border: 2px solid black; 
    height: 270px;  
    margin-top: 20px;
    padding: 10px;
}
