#title {
    font-size: 100px;
}
#slogan {
    font-size: 60px;
}
#titlecontainer {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: beige;
    color: black;
    text-align: center;
}
#startbtn {
    height: 150px;
    width: 400px;
    align-content: center;
    background-color: forestgreen;
    font-size: 50px;
    color: black;
}
#button {
    margin: 20px;
}
#textbox {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: beige;
    color: black;
    text-align: center;
    font-size: 60px;
}